:root{
   --main-color:#16a085;
   --red:#eb4d4b;
   --orange:#f39c12;
   --black:#130f40;
   --light-color:#999;
   --light-bg:#eee;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
   font-family: "Comfortaa", cursive;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   text-decoration: none;
   scrollbar-color: var(--main-color) var(--black);
   scrollbar-width: thin;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background-color: var(--light-bg);
}

section {
   max-width: 1200px;
   margin: 0 auto;
   padding: 2rem;
}

.heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 2rem;
   margin-bottom: 2.5rem;
   gap: 1.5rem;
   flex-wrap: wrap;
   border-bottom: var(--border);
}

.heading h1 {
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
}

.empty {
   background-color: var(--white);
   border-radius: .5rem;
   border: var(--border);
   padding: 1.5rem;
   font-size: 1.8rem;
   color: var(--red);
   text-align: center;
   width: 100%;
   box-shadow: var(--box-shadow);
}

.btn,
.delete-btn,
.option-btn {
   display: block;
   width: 100%;
}

.inline-btn,
.inline-delete-btn,
.inline-option-btn {
   display: inline-block;
}

.btn,
.delete-btn,
.option-btn,
.inline-btn,
.inline-delete-btn,
.inline-option-btn {
   margin-top: 1rem;
   text-align: center;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   border-radius: .5rem;
   border: var(--border);
   color: var(--white);
   cursor: pointer;
   text-transform: capitalize;
}

.btn,
.inline-btn {
   background-color: var(--main-color);
}

.btn-delete,
.inline-delete-btn {
   background-color: var(--red);
}

.btn-option,
.inline-option-btn {
   background-color: var(--orange);
}

.btn:hover,
.del:hover,
.option-btn:hover,
.inline-btn:hover,
.inline-delete-btn:hover,
.inline-option-btn:hover {
   background-color: var(--black);
}

.flex-btn {
   display: flex;
   align-items: center;
   column-gap: 1.5rem;
   justify-content: space-between;
}

.header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   background-color: var(--black);
   z-index: 1000;
}

.header .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo {
   font-size: 2.5rem;
   color: var(--orange);
}

.header .flex .navbar a{
   height: 4.2rem;
   width: 4.5rem;
   line-height: 4.2rem;
   font-size: 2rem;
   color: var(--black);
   background-color: var(--white);
   border-radius: .5rem;
   text-align: center;
   margin-left: .8rem;
}

.header .flex .navbar a:hover {
   background-color: var(--main-color);
   color: var(--white);
}

@media (max-width: 991px) {
   html {
      font-size: 55%;
   }
}

@media (max-width: 450px) {
   html {
      font-size: 50%;
   }
}